* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000814;
}

header {
    height: 180px !important;
}
@media screen and (min-width: 600px) {
    header {
        padding: 30px 10%;
    }
}
@media screen and (max-width: 600px) {
    header {
        padding: 20px;
    }
}

.logo img {
    cursor: pointer;
    height: 50px; 
}
.navbar-toggler {
    background-color: white !important;
    border-radius: 10px;
    outline: none !important;
    margin: 0;
}
.navbar-toggler-icon {
    width: 35px;
    height: 35px;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    gap: 60px;
}

.nav-item {
    display: inline-block;
    padding: 0px 20px;
}

.nav-link {
    background: none;
    border: none;
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff !important;
}

.contact-icons {
    list-style-type: none;
    display: flex;
    gap: 5px;
}

.contact-icons img {
    height: 24px; 
    width: auto;
}

.nav-link:hover img{
    opacity: 0.4;
}

.intro {
    margin-top: 40px;
    color: white; 
}
.intro-text{
    margin-bottom: 10px;
    margin-left: 5%;
}
.lev1 {
    font-size: 45px;
}
.name {
    color: #ff006e;
    font-weight: bold;
}
.lev2{
    font-size: 33px;
    color: #3a86ff;
}
.lev3 {
    font-size: 18px;
}
.headshot {
    height: 350px;
}
#dynamic-text-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 1.2em;
    line-height: 1.2em;
}

/* Blinking cursor effect */
#dynamic-text::after {
    content: '|'; 
    animation: blink 1s infinite;
    margin-left: 4px;
    font-weight: bold;
}
  
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.intro-buttons {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.intro-buttons a{
    border: 1px solid #3A86FF;
    padding: 10px 20px;
    text-decoration: none;
    color: #3A86FF;
    font-weight: bold;
}

.intro-buttons a:hover {
    background-color: #3A86FF;
    color: white;
}

.line-break {
    background-color: #AA4AF2;
    margin: auto;
    height: 2px;
    width: 20%;
}
.experience {
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: #06071b;
}

.heading {
    padding-top: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto 0 auto;
}
.experience-card {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}
.experience-card {
    transition: opacity 0.5s ease-in-out;
}
.experience-card.visible.left .text-box{
    opacity: 1;
    animation: moveright 0.5s linear forwards;
}
.experience-card.visible.right .text-box {
    opacity: 1;
    animation: moveleft 0.5s linear forwards;
}
.text-box {
    padding: 20px 30px;
    background: rgb(0, 8, 20);
    border-bottom: 2px solid #00E3BC;
    position: relative;
    /* font-size: 15px; */
    border-radius: 6px;
    opacity: 0;
}

@keyframes moveright {
    0% {
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes moveleft {
    0% {
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}

.left {
    left: 0;
}
.right {
    left: 50%;
}
.experience-card img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    opacity: 0;
}
.experience-card.visible img {
    opacity: 1;
    animation: bubble 0.5s ease-in-out;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.right img {
    left: -20px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
    animation: moveline 2s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h3 {
    font-weight: 600;
    color: #3A86FF;
}
.text-box h4{
    display: flex;
    justify-content: space-between;
    color: #c6c7c9;
    font-size: 16px;
    font-weight: bolder;
}
.text-box small{
    text-align: right;
    color: #c6c7c9;
    margin-bottom: 15px;
}
.text-box li{
    color: white;
}
.left-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 25px;
    z-index: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(0, 227, 188);
    right: -15px;
}
.right-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 25px;
    z-index: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(0, 227, 188);
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline:after {
        left: 31px;
    }
    .experience-card {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size:13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right {
        left: 0;
    }
    .left img, .right img {
        left: 10px;
    }
    .left-arrow, .right-arrow {
        border-right: 15px solid rgb(0, 227, 188);
        border-left: 0;
        left: -15px;
    }
}

.projects {
    background-color: #000814;
    margin: 0 auto;
}
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.project {
    background-color: #000814;
    padding: 20px;
    margin: 5% 5%;
    border-radius: 6px;
    /* box-shadow: 0 2px 5px #00E3BC; */
    border: 2px solid #00E3BC;
    position: relative;
    opacity: 0;
    height: 470px;
}

.project-card.visible .project {
    opacity: 1;
    animation: movein 0.5s ease-in-out;
}

@keyframes movein {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}
.project:hover {
    transform: scale(1.05);
}

.project h3 {
    color: #3A86FF;
    font-weight: 600;
    margin-bottom: 10px;
}

.project p {
    margin: 10px 0;
    color: white;
}

.project-image {
    width: 100%;
    height: 150px;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.project-tech {
    color: #FF006E;
    font-weight: bolder;
}

.github-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #3A86FF;
    color: #3A86FF;
    font-weight: bold;
}

.github-button:hover {
    text-decoration: none;
    background-color: #3A86FF;
    color: white;
}

.code-icon {
    margin-right: 5px;
    font-weight: bold;
    font-family: monospace;
}

.contact {
    margin-top: 100px;
    background-color: #06071b;
}

.contact-heading {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.contact p {
    padding: 15px;
}

.contact-form {
    border-radius: 15px;
    margin-bottom: 30px;
}

.contact-form label {
    color: #3A86FF;
    margin-top: 15px;
    display: block;
    font-weight: bold;
}
.contact-form textarea,
.contact-form .input {
    width: 100%;
    margin: 0;
    padding: 15px 20px;
    background-color: #000814;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219, 0.3);
}
.contact-form .input::placeholder {
    color: rgb(219, 219, 219, 0.5) !important;
}
.contact-form textarea:focus,
.contact-form .input:focus {
    border-bottom: 1px solid #00E3BC;
    outline: none;
}

.contact-form .btn {
    background-color: #06071b;
    text-decoration: none;
    margin-top: 35px !important;
    padding: 10px 30px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #3A86FF;
    color: #3A86FF;
    font-weight: bold;
}

.contact-form .btn:hover {
    text-decoration: none;
    background-color: #3A86FF;
    color: white;
}

footer {
    margin-top: 30px;
    padding: 20px 50px;
    bottom: 0;
    background-color: black;
    color: #aaa;
    text-align: center;
    font-size: 14px;
}
footer p {
    margin: 0;
}
.container.form{
    padding-bottom: 20px;
}

